button {
  padding: 8px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 217, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  position: relative;
}

.login-popup {
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 20px;
}
.login-popup h2 {
  margin-bottom: 8px;
  color: rgb(247, 247, 247);
}
.login-popup form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 240px;
}
.login-popup form input {
  padding: 12px;
  border-radius: 6px;
  border: none;
}
.login-popup form .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-popup form .action div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.login-popup form .action div p {
  font-size: x-small;
  color: rgb(247, 247, 247);
}
.login-popup form .action button {
  width: 100px;
}
.login-popup .action {
  display: flex;
  margin-bottom: 8px;
}
.login-popup .action input {
  cursor: pointer;
}
.login-popup .switch-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: small;
  padding: 8px 0 8px;
  border: solid rgb(255, 255, 255) 1px;
  border-radius: 6px;
}
.login-popup .switch-form p {
  color: rgb(255, 255, 255);
}
.login-popup .switch-form a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.login-popup .close-popup {
  color: rgb(247, 247, 247);
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: x-large;
  cursor: pointer;
}
.login-popup .login {
  display: flex;
  flex-direction: column;
}
.login-popup .register {
  display: none;
  flex-direction: column;
}

header {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 425px) {
  header {
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
header .logo {
  width: 120.1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .logo img {
  width: 80px;
}
@media (max-width: 425px) {
  header .logo img {
    width: 60px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 425px) {
  header nav {
    position: fixed;
    top: 89px;
    right: 0;
    background-color: rgb(51, 51, 51);
    height: 100vh;
    width: 50%;
    gap: 0;
    justify-content: right;
  }
}
header nav .social-media {
  display: flex;
  justify-content: end;
  gap: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
header nav .social-media svg {
  font-size: 25px;
  transition: 0.3s;
}
header nav .social-media svg:hover {
  color: rgb(255, 217, 1);
}
header nav .user-acc {
  display: flex;
  gap: 10px;
}
header nav .user-acc button {
  width: 100px;
}
header .burger {
  display: none;
  cursor: pointer;
  margin: 10px;
}
@media (max-width: 425px) {
  header .burger {
    display: block;
  }
}
header .burger div {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 3px;
}
header .burger .active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
header .burger .active .line2 {
  opacity: 0;
}
header .burger .active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

body {
  background-color: rgb(247, 247, 247);
}

.hero {
  background: url("./assets/hero/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  align-items: center;
}
.hero .background-opacity {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 90vh;
  opacity: 50%;
}
.hero .hero-info {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 80px;
}
@media (max-width: 425px) {
  .hero .hero-info {
    margin-left: 20px;
  }
}
.hero .hero-info h1 {
  font-size: 50px;
  line-height: normal;
}
.hero .hero-info h1 span {
  color: rgb(255, 217, 1);
}

.portfolio {
  padding: 30px 80px;
}
@media (max-width: 425px) {
  .portfolio {
    padding: 20px;
  }
}
.portfolio h1 {
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
}
.portfolio .container {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
.portfolio .container svg {
  font-size: 100px;
  position: absolute;
  color: white;
  cursor: pointer;
  margin: 10px;
}
.portfolio .container svg:hover {
  color: rgb(255, 217, 1);
}
.portfolio .container .left {
  left: 0;
}
.portfolio .container .right {
  right: 0;
}
.portfolio .container .s-project {
  background-color: rgb(51, 51, 51);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .container .s-project iframe {
  height: 100%;
}

.blog {
  padding: 30px 80px;
}
@media (max-width: 425px) {
  .blog {
    padding: 20px;
  }
}
.blog h1 {
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
}
.blog .container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.blog .container svg {
  font-size: 50px;
  position: absolute;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;
  z-index: 1;
}
@media (max-width: 425px) {
  .blog .container svg {
    font-size: 37.5px;
  }
}
.blog .container svg:hover {
  color: rgb(255, 217, 1);
}
.blog .container .left {
  left: 0;
}
.blog .container .right {
  right: 0;
}
.blog .container .s-post {
  position: relative;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
  height: 250px;
}
.blog .container .s-post:active {
  cursor: grabbing;
}
.blog .container .s-post img {
  width: 250px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  margin: 10px;
}
.blog .container .s-post div {
  width: 250px;
  padding: 0 10px 10px;
}
.blog .container .s-post div h4 {
  color: rgb(255, 255, 255);
}
.blog .container .s-post div p {
  color: white;
}
.blog .container .s-post .remove {
  background-color: yellow;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  cursor: pointer;
}
.blog .container .s-post .read-more {
  font-size: 25px;
  position: absolute;
  color: white;
  cursor: pointer;
  margin: 0px;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}
.blog .container .s-post .read-more:hover {
  color: rgb(255, 217, 1);
}

.newsletter {
  padding: 30px 80px;
  background: url("https://images7.alphacoders.com/133/1337527.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .newsletter {
    padding: 20px;
  }
}
.newsletter .subscribe p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.newsletter .subscribe div {
  display: flex;
  gap: 5px;
}
.newsletter .subscribe div input {
  padding: 8px;
  width: 200px;
  border-radius: 10px 0 0 10px;
  border: none;
}
.newsletter .subscribe div button {
  width: 100px;
  border-radius: 0 10px 10px 0;
  border: none;
  background: rgb(255, 217, 1);
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  padding: 30px 80px;
  gap: 20px;
}
@media (max-width: 425px) {
  footer {
    padding: 20px;
  }
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
footer .social-media {
  display: flex;
  gap: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
footer .social-media svg {
  font-size: 25px;
  transition: 0.3s;
}
footer .social-media svg:hover {
  color: rgb(255, 217, 1);
}/*# sourceMappingURL=App.css.map */