button {
  padding: 8px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 217, 1);
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Alaska, sans-serif;
}

body {
  position: relative;
}

header {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 425px) {
  header {
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
header .logo {
  width: 120.1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .logo img {
  width: 80px;
}
@media (max-width: 425px) {
  header .logo img {
    width: 60px;
  }
}
header .menu {
  display: flex;
}
@media (max-width: 425px) {
  header .menu {
    align-items: center;
    gap: 10px;
  }
}
header .menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .menu nav .social-media {
  display: flex;
  justify-content: end;
  gap: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
@media (max-width: 425px) {
  header .menu nav .social-media {
    display: none;
  }
}
header .menu nav .social-media svg {
  font-size: 25px;
  transition: 0.3s;
}
header .menu nav .social-media svg:hover {
  color: rgb(255, 217, 1);
}
header .menu nav .user-acc {
  display: flex;
  gap: 10px;
}
header .menu .burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 425px) {
  header .menu .burger {
    display: block;
  }
}
header .menu .burger div {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 3px;
}
header .menu .burger .active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
header .menu .burger .active .line2 {
  opacity: 0;
}
header .menu .burger .active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

body {
  background-color: rgb(247, 247, 247);
}

.hero {
  background: url("./assets/hero/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .video-slide {
  display: flex;
}
.hero .video-slide .single-video {
  width: 820px;
  display: flex;
}
.hero .background-opacity {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 90vh;
  opacity: 50%;
}

.portfolio {
  padding: 30px 80px;
}
@media (max-width: 425px) {
  .portfolio {
    padding: 20px;
  }
}
.portfolio h1 {
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
}
.portfolio .container {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
.portfolio .container svg {
  font-size: 100px;
  position: absolute;
  color: white;
  cursor: pointer;
  margin: 10px;
}
.portfolio .container svg:hover {
  color: rgb(255, 217, 1);
}
.portfolio .container .left {
  left: 0;
}
.portfolio .container .right {
  right: 0;
}
.portfolio .container .s-project {
  background-color: rgb(51, 51, 51);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .container .s-project iframe {
  height: 100%;
}

.blog {
  padding: 30px 80px;
}
@media (max-width: 425px) {
  .blog {
    padding: 20px;
  }
}
.blog h1 {
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
}
.blog .container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.blog .container svg {
  font-size: 20px;
  position: absolute;
  color: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  z-index: 1;
  width: 30px;
  height: 30px;
}
@media (max-width: 425px) {
  .blog .container svg {
    font-size: 37.5px;
  }
}
.blog .container svg:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 217, 1);
}
.blog .container .left {
  left: 0;
  background-color: rgb(255, 255, 255);
}
.blog .container .right {
  right: 0;
  background-color: rgb(255, 255, 255);
}
.blog .container .s-post {
  position: relative;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
  height: 250px;
}
.blog .container .s-post:active {
  cursor: grabbing;
}
.blog .container .s-post img {
  width: 250px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  margin: 10px;
}
.blog .container .s-post div {
  width: 250px;
  padding: 0 10px 10px;
}
.blog .container .s-post div h4 {
  color: rgb(255, 255, 255);
}
.blog .container .s-post div p {
  color: white;
}
.blog .container .s-post .remove {
  background-color: yellow;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  cursor: pointer;
}
.blog .container .s-post .read-more {
  position: absolute;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0px;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  padding: 3px;
  font-size: 30px;
}
.blog .container .s-post .read-more:hover {
  color: rgb(255, 217, 1);
  background-color: rgb(51, 51, 51);
}

.newsletter {
  padding: 30px 80px;
  background: url("https://images7.alphacoders.com/133/1337527.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .newsletter {
    padding: 20px;
  }
}
.newsletter .subscribe p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.newsletter .subscribe div {
  display: flex;
  gap: 5px;
}
.newsletter .subscribe div input {
  padding: 8px 12px;
  width: 200px;
  border-radius: 20px 0 0 20px;
  border: none;
}
.newsletter .subscribe div button {
  width: 100px;
  border-radius: 0 20px 20px 0;
  border: none;
  background: rgb(255, 217, 1);
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  padding: 30px 80px;
  gap: 20px;
}
@media (max-width: 425px) {
  footer {
    padding: 20px;
  }
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
footer .social-media {
  display: flex;
  gap: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
footer .social-media svg {
  font-size: 25px;
  transition: 0.3s;
}
footer .social-media svg:hover {
  color: rgb(255, 217, 1);
}/*# sourceMappingURL=App.css.map */